.info-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	padding: 2rem 2rem;
	justify-self: center;
	font-weight: bold;

	.info-wrapper-name {
		font-size: 2rem;
		line-height: 0;
		margin-inline-end: 2rem;
		font-weight: normal;
		margin: 0 auto;
	}

	.info-wrapper-level {
		font-size: 1.5rem;
	}

	.info-wrapper-health-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		.info-wrapper-health-bar {
			--hpbar: 100%;
			width: 100%;
			height: 1.5rem;
			background-color: transparent;
			border: 2.5px solid black;
				border-radius: 25px;

			&:after {
				content: "";
				display: block;
				height: 100%;
				border-radius: inherit;
				width: var(--hpbar);
				background-color: green;
				top: 0;
				left: 0;
				transition: 300ms ease-in-out;
			}
		}
	}
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 70%;
		image-rendering: pixelated;
	}
}
